<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Yelp Review Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    
</head>

<body>
  <!--Navbar-->

  <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <button class="navbar-header"><a href="/">Home</a></button>
            
            <div class="btn-group navbar-right">
                <button class="navbar-header"><a href="/methodology">Methodology</a></button>
                <button class="navbar-header"><a href="/data">Data</a></button>   
                
            </div>  
          </div><!-- /.container-fluid -->
        </nav>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <h1>Naive Bayes Model</h1>
    <h1>Natural Network Model</h1>
    <p></p>
    
    <figure class="half" style="display:flex">
      <p><img id="datapicture" src="../static/img/Man_Machine.PNG" alt="ML" height="200px" width = "200px"></p>  
      <p><img id="datapicture" src="../static/img/Deviations.PNG" alt="Deviations" height="200px" width = "200px"></p> 
    
  </figure>
         
     
        
  </div>
  
</body>
</html>
      